body {
	background-image: url('/img/background.png');
	background-repeat: no-repeat;
  	background-position: center top;
	
	font-family: "Luballin";
	color: rgb(0, 161, 203);
}

textarea.form-control {
	resize: none;
	height: 100px;
}

.logo{
    height: auto;
    text-align: center;
	max-width: 100%;
	padding-bottom: 20px;
}

.mandatory{
	color: rgb(196, 59, 29);
}

.poll{
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	background-color: white;
}

.poll-title{
	font-size: 32px;
	font-weight: bold;
}

.poll-description{
	font-family: "Amaranth";
	color: rgb(112, 111, 111);
	font-weight: 400;
	font-size: 14px;
	font-style: normal;
}

.question-group h2{
	font-size: 24px;
	font-weight: bold;
}

.question-group p, .poll-notice{
	color: rgb(112,111,111);
	font-size: 14px;
}

.question-group h3{
	color: rgb(80,80,80);
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 3px;
}

.question input[type='file']{
	margin-bottom: 20px;
}

.question-hint{
	color: rgb(183,183,183);
	font-size: 13px;
}

.submit{
	margin-top: 20px;
}

.invalid{
	border-color: red;
}

/* latin */
@font-face {
  font-family: 'Luballin';
  font-style: normal;
  font-weight: 400;
  src: local('Luballin'), url(/Lubalin-Graph-Regular.ttf) format('Lubalin-Graph-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* /* latin */ */
/* @font-face { */
/*   font-family: 'Luballin'; */
/*   font-style: normal; */
/*   font-weight: 700; */
/*   src: local('Amaranth Bold'), local('Amaranth-Bold'), url(/Lubalin Graph Regular.ttf) format('ttf'); */
/*   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; */
/* } */
